@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
    background-color: var(--Violet);
    background-image: url(./images/bg-mobile.svg);
    color: white;
    max-height: 100vh;
    font-family: 'Open Sans';
}


/* @media only screen and (max-width: 375px) {
    body {
        background-image: url(./images/bg-mobile.svg);
    }
} */


body {
    background-image: url(./images/bg-desktop.svg);
    font-family: 'Open Sans';
    padding: 1.5em 3.5em;
    /* padding-left: 1.5em;
    padding-right: 1.5em; */
}


.logo {
    display: flex;
    justify-content: left;
    height: auto;
    padding: 1em 0;
    
}

.logo img {
    height: 2.5em;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 2em 0 0.4em 0;
}

.left-col {
    padding: 0 1em 0 0;
    width: fit-content;
}

.left-col img {
    height: 400px;
    width: 600px;
    
}

.right-col {
    padding: 2em;
}

h2 {
    font-family: 'Poppins';
    font-weight: bolder;
}

ul {
    display: flex;
    justify-content: right;

}
ul li {
    list-style: none;
    margin-left: 10px;
}

